@charset "UTF-8";
a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
}

b {
  font-weight: 400;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.btn-black, .btn-cart, .btn-danger, .btn-dashed, .btn-disable, .btn-normal, .btn-soon, .btn-success, .btn-warnning {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  width: 120px;
  height: 36px;
  line-height: 36px;
}

.btn-buy, .btn-more {
  width: 247px;
  height: 55px;
  line-height: 53px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: #dd3e3f;
  border: 1px solid #c2363d;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px rgba(4, 0, 0, 0.1);
  box-shadow: 0 2px 1px rgba(4, 0, 0, 0.1);
}

body {
  font: 12px/1.14 Arial,PingHei,"微软雅黑",tahoma,STHeitiSC-Light,"Helvetica Neue",Helvetica,sans-serif;
  min-width: 1280px;
  background: #f5f5f5;
}

.ellipsis2, .ellipsis3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix {
  zoom: 1;
}

.clearfix:after, .clearfix::before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*公用部分*/
.icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/icon.png") no-repeat;
}

.left {
  float: left;
}

.right {
  float: right;
}

.warp {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

/*头顶部分*/
#top {
  height: 30px;
  line-height: 30px;
  background: #3E3A39;
  line-height: 30px;
}

#top .right {
  float: right;
}

#top a {
  color: #ccc;
  margin-right: 20px;
}

/*头部*/
header {
  height: 88px;
  background: white;
}

header .left {
  margin-top: 23px;
}

header .right {
  margin-top: 20px;
}

header i {
  width: 237px;
  height: 95px;
  margin-top: -30px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 18.8em 10.1em;
}

header .search {
  float: left;
}

header .search .search-box {
  position: relative;
}

header .search .search-box input {
  float: left;
  width: 300px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border: 2px solid #E73736;
  color: #333;
  padding: 0 17px;
}

header .search .search-box a {
  float: left;
  width: 76px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #E73736;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin-left: -2px;
}

header .search ul {
  width: 412px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  padding-top: 9px;
}

header .search ul li {
  float: left;
}

header .search ul li a {
  color: #666;
  padding: 0 9px;
  border-left: 1px solid #ccc;
}

header .search ul li:first-child a {
  border-left: 0 none;
  padding-left: 0;
}

header .buycart {
  margin-left: 22px;
  float: right;
}

header .buycart a {
  color: #fff;
  background-color: #F7F7F7;
  height: 36px;
  padding: 2px;
  display: block;
}

header .buycart a .header-icon {
  font-size: 12px;
}

header .buycart a .header-icon::before {
  background-position: -.8333333333333334em -15.5em;
  width: 2.0833333333333335em;
  height: 1.8333333333333333em;
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 17.75em 49.083333333333336em;
}

header .buycart a .cart-num {
  width: 54px;
  background-color: #fff;
  position: relative;
}

header .buycart a .cart-num .num {
  width: 22px;
  height: 24px;
  line-height: 22px;
  margin-left: -1px;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  top: -16px;
  left: 17px;
  background: url("../images/gwc.png") no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-position: -416px 0;
}

header .buycart a .cart-item {
  width: 123px;
  vertical-align: top;
  line-height: 37px;
  color: #666;
  margin-left: -1px;
}

header .buycart a .cart-item .header-icon::before {
  background-position: -.8333333333333334em -2.8333333333333335em;
  width: .6666666666666666em;
  height: 1.0833333333333333em;
}

header .buycart a .cart-item, header .buycart a .cart-num {
  display: inline-block;
  height: 35px;
  text-align: center;
}

header .buycart a .cart-num:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/*导航条*/
nav {
  background: white;
  padding-top: 18px;
  height: 36px;
}

nav .header-icon {
  font-size: 12px;
}

nav .header-icon::before {
  background-position: -.8333333333333334em -15.5em;
  width: 2.0833333333333335em;
  height: 1.8333333333333333em;
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 17.75em 49.083333333333336em;
}

nav ul {
  margin-left: -26px;
  float: left;
}

nav ul li {
  float: left;
  padding: 0 25px;
  margin-bottom: -1px;
}

nav ul li a {
  display: block;
  font-size: 14px;
  height: 37px;
  line-height: 37px;
  box-sizing: border-box;
}

nav .left-ul .active a, nav .left-ul a:hover {
  color: #E73736;
  border-bottom: 3px solid #E73736;
}

nav .right-ul {
  float: right;
}

nav .right-ul li {
  padding: 0;
}

nav .right-ul a {
  font-size: 12px;
  color: #999;
  padding-left: 16px;
}

nav .right-ul span {
  margin-right: 4px;
}

nav .right-ul span::before {
  width: 1.6666666666666667em;
  height: 2em;
}

nav .right-ul .zheng:before {
  background-position: -.8333333333333334em -46.25em;
}

nav .right-ul .hang:before {
  background-position: -.8333333333333334em -33.75em;
}

nav .right-ul .kuai:before {
  background-position: -.8333333333333334em -19em;
}

section {
  /*面包屑*/
  /*主体部分*/
  /*小图列表*/
  /*放大镜*/
  /*商品详细信息*/
}

section .btn {
  width: 134px;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  margin-right: 10px;
  position: relative;
}

section .btn-cart, section .btn-soon {
  background: #ff8140;
  color: #fff !important;
  border: 1px solid #ff9000;
}

section .breadcrumb .crumb {
  margin: 20px 0;
  color: #585758;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

section .breadcrumb .crumb a {
  color: #585758;
}

section .breadcrumb .crumb span {
  margin: 0 20px;
}

section .content .goods {
  background: #fff;
  padding: 30px 20px;
  position: relative;
  overflow: hidden;
}

section .fdj-list {
  width: 76px;
  margin-right: 10px;
}

section .fdj-list li {
  border: 1px solid #eee;
  outline: 1px solid #fff;
  float: left;
  width: 74px;
  height: 74px;
  text-align: center;
  font-size: 0;
  margin-bottom: 10px;
}

section .fdj-list li img {
  max-width: 74px;
  max-height: 74px;
  vertical-align: middle;
}

section .fdj-list span {
  height: 100%;
  width: 0;
  vertical-align: middle;
  display: inline-block;
}

section .fdj-warp {
  width: 420px;
  margin-right: 30px;
}

section .fdj-warp span {
  height: 100%;
  width: 0;
  vertical-align: middle;
  display: inline-block;
}

section .fdj-warp .fdj {
  height: 420px;
  position: relative;
  border: 1px solid #eee;
  text-align: center;
  font-size: 0;
}

section .fdj-warp img {
  max-width: 418px;
  max-height: 418px;
  vertical-align: middle;
}

section .fdj-warp .dt {
  position: absolute;
  opacity: 0;
  width: 800px;
  height: 800px;
  left: 0;
  top: 0;
  border: none;
  max-width: none;
  max-height: none;
}

section .goods-detail {
  width: 584px;
  float: left;
  font-size: 14px;
  color: #272541;
  position: relative;
  padding-right: 20px;
}

section .goods-detail .title h1 {
  font-size: 18px;
  margin-bottom: 17px;
}

section .goods-detail .title p {
  color: #686675;
  margin-bottom: 10px;
  line-height: 1.5;
}

section .goods-detail .from {
  margin-bottom: 20px;
  color: #666666;
}

section .goods-detail .from img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

section .goods-detail .from span {
  margin-left: 20px;
}

section .goods-detail .price-warp {
  min-height: 51px;
  margin-top: 0px;
  background: #fff6f6;
  border: 1px solid #fddcdc;
  padding: 10px 0;
  position: relative;
}

section .goods-detail .price-warp .price {
  margin-bottom: 10px;
  font-size: 14px;
  padding-left: 14px;
  color: #666;
  position: relative;
}

section .goods-detail .price-warp .price span {
  color: #dc3334;
  font-family: Arial;
  margin-left: 10px;
}

section .goods-detail .price-warp .price b {
  color: #dc3334;
  font-size: 36px;
  font-family: Arial;
}

section .goods-detail .price-warp .price strong {
  margin-left: 20px;
  color: #999;
  font-weight: normal;
}

section .goods-detail .more .info {
  border: 1px solid #fddcdc;
  padding: 0 13px;
  height: 30px;
  line-height: 29px;
  color: #666;
  margin-top: -1px;
  position: relative;
}

section .goods-detail .more a {
  display: inline;
  color: #666;
}

section .goods-detail .more .info-btn {
  position: absolute;
  right: 17px;
  top: 0;
}

section .goods-detail .more .info-btn .icon67 {
  width: 12px;
  height: 7px;
  background-position: -132px -194px;
}

section .goods-detail .more .label {
  margin-right: 11px;
  vertical-align: middle;
  background: #f78e57;
  height: 21px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 0 15px;
  display: inline-block;
  position: relative;
}

section .goods-detail .more .info-detail {
  line-height: 24px;
  border: 1px solid #ffc3c3;
  background: #fff;
  position: absolute;
  left: 0;
  border-top: none;
  display: none;
  width: 100%;
  margin-left: -1px;
  z-index: 1;
}

section .goods-detail .more .info-detail li {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-bottom: 0;
  border-top: 1px dotted #fedcdc;
  padding-left: 95px;
}

section .goods-detail ul {
  margin-top: 20px;
}

section .goods-detail ul li {
  margin-bottom: 18px;
  line-height: 10px;
}

section .goods-detail ul label {
  font-size: 14px;
  color: #999;
  margin-right: 24px;
  min-width: 4em;
  display: inline-block;
  text-align: justify;
  height: 14px;
  vertical-align: middle;
}

section .goods-detail ul label::after {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
}

section .goods-detail ul .chose {
  border-color: #dc3334;
  box-shadow: 0 0 0 1px #dc3334;
}

section .goods-detail ul .list {
  padding: 0 6px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #BDBDBD;
  color: #272541;
  background: #fff;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 6px;
}

section .goods-detail ul .icon {
  position: absolute;
  right: 0;
  bottom: 0;
}

section .goods-detail ul .icon23 {
  width: 8px;
  height: 8px;
  background-position: -62px -53px;
}

section .goods-detail .buy {
  min-height: 99px;
}

section .goods-detail .buy span {
  height: 32px;
  line-height: 32px;
  border: 1px solid #C6C6C6;
  overflow: hidden;
  background: #fff;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

section .goods-detail .buy span a {
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

section .goods-detail .buy span .del {
  float: left;
  border-right: 1px solid #C6C6C6;
}

section .goods-detail .buy span .add {
  float: right;
  border-left: 1px solid #C6C6C6;
}

section .goods-detail .buy span input {
  width: 49px;
  height: 32px;
  line-height: 32px;
  border: none;
  text-align: center;
}

section .goods-detail .buy .buy-btn {
  position: relative;
}
