@import './public';
footer{
    .footer-icon{
        font-size: 12px;
        &::before{
            content: ' ';
            vertical-align: middle;
            display: inline-block;
            background-image: url('../images/footer.svg');
            background-repeat: no-repeat;
            background-size: 13.916666666666666em 42.916666666666664em;
        }
    }
    .icon-earth{
        margin-right: 25px;
        &::before{
            background-position: -.8333333333333334em -10.083333333333334em;
            width: 3.0833333333333335em;
            height: 3em;
        }
    }
    .icon-cart{
        margin-right: 20px;
        &::before{
                background-position: -.7em -4.4999em;
                width: 3em;
                height: 3.3333333333333335em;
        }
    }
    .icon-list{
        margin-right: 7px;
        &::before{
            background-position: -.8333333333333334em -14.75em;
            width: 2.25em;
            height: 2.75em;
        }
    }
    .icon-car{
        margin-right: 24px;
        &::before{
                background-position: -.8333333333333334em -.8333333333333334em;
                width: 3.3333333333333335em;
                height: 2.5833333333333335em;
        }
    }
    .icon-package{
        margin-right: 18px;
        &::before{
                background-position: -.8333333333333334em -30.666666666666664em;
                width: 3em;
                height: 2.75em;
        }
    }
    .footer-top{
        height: 54px;
        line-height: 54px;
        padding: 13px 0;
        background: #3E3A39;
        color: #fff;
        font-size: 14px;
        li{
            float: left;
            width: 235px;
            text-align: center;
            border-left: 1px solid #635D5C;
            margin-left: -1px;
        }
    }
}