@import './public';
@import './header';
@import './foot';

body {
    background: white;
}

/*我也不知道干嘛用的*/
.nouse {
    margin: 0 0 10px;
}

/*轮播图*/
#banner-warp {
    margin: 0 auto;
    background-color: #ffffff;
    background-repeat: repeat;

    .banner {
        position: relative;
        height: 400px;
        margin: 0 auto 30px;
    }

    .banner-list {
        position: absolute;
        width: 100%;
        height: 400px;
        left: 0;
        top: 0;

        li {
            position: absolute;
            width: 100%;
            opacity: 0;
            z-index: -1;

            a {
                display: block;
                height: 400px;
                background-position: center;
                background-repeat: no-repeat;

                img {
                    height: 100%;
                    width: 100%;
                }
            }

            &.active {
                opacity: 1;
                z-index: 0;
            }
        }
    }

    .banner-btn {
        position: absolute;
        top: 354px;
        width: 100%;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 4px;
            line-height: 20px;
            text-align: center;
        }

        a {
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            background: #fff;
        }

        .active a {
            background: #df3c3a;
            color: #fff;
        }
    }

    .silde {
        width: 175px;
        box-sizing: border-box;
        height: 400px;
        background: #3e3a39;
        color: #fff;
        position: absolute;

        a {
            color: #fff;
            font-size: 12px;
        }

        h2 {
            font-size: 18px;
            font-weight: normal;
            padding: 32px 16px 21px;
        }

        .slide-icon {
            display: inline-block;
            vertical-align: -1px;
            background: url('../images/erji.png') no-repeat;
            margin-right: 5px;
        }

        .slide-icon1 {
            width: 16px;
            height: 15px;
        }

        .slide-icon2 {
            width: 16px;
            height: 10px;
            background-position: 0 -83px;
        }

        .slide-icon3 {
            width: 16px;
            height: 14px;
            background-position: 0 -161px;
        }

        .slide-icon4 {
            width: 16px;
            height: 10px;
            background-position: 0 -245px;
        }

        .silde-warp {
            &>li {
                padding: 0 16px;
                font-size: 0;

                a {
                    margin-right: 10px;
                }

                .inner {
                    padding-bottom: 22px;
                    padding-top: 22px;
                    border-top: 1px dotted #8a8c8c;

                    h3 {
                        font-size: 14px;
                        font-weight: normal;
                        margin-bottom: 8px;

                        a {
                            font-size: 14px;
                        }
                    }

                    .list {
                        a {
                            color: #fff;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}


/*下面的模块*/
#mod {

    height: 697px;
    margin-bottom: 30px;
    h2 {
        font-size: 19px;
        margin-bottom: 15px;
        font-weight: normal;
        color: #3e3a39;

        .left {
            float: left;

            i {
                display: inline-block;
                width: 10px;
                height: 16px;
                margin-right: 11px;
                background: #e73736;
            }

            span {
                font-size: 14px;
                color: #666;
                margin-left: 18px;
            }
        }

        .right {
            font-size: 14px;
            padding-top: 5px;

            a {
                color: #666;
            }

            span {
                margin: 0 10px;
                color: #ddd;
            }
        }
    }

    .inner {
        border: 1px solid #e5e5e5;
        margin-bottom: 30px;

        .shop-list {
            width: 949px;
            background: #fff;

            .main-img {
                position: relative;
                width: 472px;
                overflow: hidden;
                height: 329px;
                img{
                    width: 472px;
                    height: 329px;
                }
            }

            .main-list {
                margin-bottom: 20px;

                ul {
                    margin-bottom: 0;

                    li {
                        float: left;
                        border: 1px solid #fff;
                        box-shadow: 0 0 0 1px #e5e5e5;
                        background: #fff;
                        position: relative;
                        padding: 18px 19px;
                        width: 196px;

                        &:hover:after {
                            content: "";
                            border-bottom: 2px solid #e73736;
                            position: absolute;
                            left: -1px;
                            bottom: -1px;
                            width: 101%;
                            z-index: 1;
                        }
                    }

                    .article-img {
                        text-align: center;
                        position: relative;
                        font-size: 0;
                        height: 196px;
                        margin-bottom: 17px;

                        a {
                            display: inline-block;
                            vertical-align: middle;

                            img {
                                max-width: 196px;
                                max-height: 196px;
                            }
                        }
                    }

                    .article-des {
                        margin-bottom: 13px;
                        font-size: 14px;
                        line-height: 21px;
                        height: 42px;
                        overflow: hidden;
                        font-weight: normal;
                    }

                    .article-price {
                        .price {
                            color: #dc3334;
                            padding-top: 4px;

                            img {
                                width: 14px;
                                height: 14px;
                                vertical-align: 0;
                                margin-right: 7px;
                            }

                            span {
                                font-size: 14px;
                            }

                            b {
                                font-size: 17px;
                                font-weight: 400;
                            }

                            s {
                                font-size: 12px;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }

        .shop-rank {
            overflow: hidden;
            padding: 28px 20px 0;
            background: #fff;

            h3 {
                font-size: 16px;
                color: #666;
                font-weight: normal;
                margin-bottom: 27px;
            }

            li {
                padding: 23px 0;
                border-top: 1px solid #e5e5e5;
                position: relative;
            }

            .rank-icon {
                width: 44px;
                height: 38px;
                position: absolute;
                left: 0;
                top: 7px;
            }

            .rank-icon1 {
                background: url('../images/paiming.png') no-repeat;
            }

            .rank-icon2 {
                background: url('../images/paiming.png') no-repeat;
                background-position: left -120px;
            }

            .rank-icon3 {
                background: url('../images/paiming.png') no-repeat;
                background-position: left -238px;
            }

            .rank-img {
                width: 70px;
                text-align: center;
                margin-right: 22px;

                img {
                    display: block;
                    max-width: 70px;
                    height: 70px;
                }
            }

            .rank-detail {
                overflow: hidden;

                h4 {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 14px;
                    font-weight: normal;
                }

                .nprice {
                    font-size: 14px;
                    color: #dc3334;

                    b {
                        font-weight: 400;
                        font-size: 17px;
                    }
                }

                .oprice {

                    font-size: 12px;
                    color: #999;
                }

                s {
                    margin-left: 8px;
                }

                span {
                    font-size: 14px;

                }
            }
        }
    }
}