@charset "UTF-8";
a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: middle;
}

b {
  font-weight: 400;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
}

.btn-black,
.btn-cart,
.btn-danger,
.btn-dashed,
.btn-disable,
.btn-normal,
.btn-soon,
.btn-success,
.btn-warnning {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
  width: 120px;
  height: 36px;
  line-height: 36px;
}

.btn-small {
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}

.btn-danger {
  color: #fff !important;
  background: #E73736;
  border: 1px solid #dc3334;
}

.btn-num {
  height: 32px;
  line-height: 32px;
  border: 1px solid #C6C6C6;
  overflow: hidden;
  background: #fff;
  text-align: center;
}

.btn-num a {
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: #999;
}

.btn-num input {
  width: 49px;
  height: 32px;
  line-height: 32px;
  border: none;
  text-align: center;
  padding: 0;
}

.btn-buy,
.btn-more {
  width: 247px;
  height: 55px;
  line-height: 53px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  background: #dd3e3f;
  border: 1px solid #c2363d;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 1px rgba(4, 0, 0, 0.1);
  box-shadow: 0 2px 1px rgba(4, 0, 0, 0.1);
}

body {
  font: 12px/1.14 Arial, PingHei, "微软雅黑", tahoma, STHeitiSC-Light, "Helvetica Neue", Helvetica, sans-serif;
  min-width: 1280px;
  background: #f5f5f5;
}

.ellipsis2,
.ellipsis3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.ellipsis {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clearfix {
  zoom: 1;
}

.clearfix:after,
.clearfix::before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*公用部分*/
.icon {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/icon.png") no-repeat;
}

.icon101 {
  width: 112px;
  height: 112px;
  background-position: -578px -334px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.warp {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

/*头顶部分*/
#top {
  height: 30px;
  line-height: 30px;
  background: #3E3A39;
  line-height: 30px;
}

#top .right {
  float: right;
}

#top a {
  color: #ccc;
  margin-right: 20px;
}

/*头部*/
header {
  height: 88px;
  background: white;
}

header .left {
  margin-top: 23px;
}

header .right {
  margin-top: 20px;
}

header i {
  width: 237px;
  height: 95px;
  margin-top: -30px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-size: 18.8em 10.1em;
}

header .search {
  float: left;
}

header .search .search-box {
  position: relative;
}

header .search .search-box input {
  float: left;
  width: 300px;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  border: 2px solid #E73736;
  color: #333;
  padding: 0 17px;
}

header .search .search-box a {
  float: left;
  width: 76px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #E73736;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  margin-left: -2px;
}

header .search ul {
  width: 412px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  padding-top: 9px;
}

header .search ul li {
  float: left;
}

header .search ul li a {
  color: #666;
  padding: 0 9px;
  border-left: 1px solid #ccc;
}

header .search ul li:first-child a {
  border-left: 0 none;
  padding-left: 0;
}

header .buycart {
  margin-left: 22px;
  float: right;
}

header .buycart a {
  color: #fff;
  background-color: #F7F7F7;
  height: 36px;
  padding: 2px;
  display: block;
}

header .buycart a .header-icon {
  font-size: 12px;
}

header .buycart a .header-icon::before {
  background-position: -.8333333333333334em -15.5em;
  width: 2.0833333333333335em;
  height: 1.8333333333333333em;
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 17.75em 49.083333333333336em;
}

header .buycart a .cart-num {
  width: 54px;
  background-color: #fff;
  position: relative;
}

header .buycart a .cart-num .num {
  width: 22px;
  height: 24px;
  line-height: 22px;
  margin-left: -1px;
  font-size: 12px;
  overflow: hidden;
  position: absolute;
  top: -16px;
  left: 17px;
  background: url("../images/gwc.png") no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-position: -416px 0;
}

header .buycart a .cart-item {
  width: 123px;
  vertical-align: top;
  line-height: 37px;
  color: #666;
  margin-left: -1px;
}

header .buycart a .cart-item .header-icon::before {
  background-position: -.8333333333333334em -2.8333333333333335em;
  width: .6666666666666666em;
  height: 1.0833333333333333em;
}

header .buycart a .cart-item,
header .buycart a .cart-num {
  display: inline-block;
  height: 35px;
  text-align: center;
}

header .buycart a .cart-num:before {
  content: '';
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

/*导航条*/
nav {
  background: white;
  padding-top: 18px;
}

nav .header-icon {
  font-size: 12px;
}

nav .header-icon::before {
  background-position: -.8333333333333334em -15.5em;
  width: 2.0833333333333335em;
  height: 1.8333333333333333em;
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/header.png");
  background-repeat: no-repeat;
  background-size: 17.75em 49.083333333333336em;
}

nav .header-icon-nav::before {
  background-position: -.8333333333333334em -22.3em;
  width: 12.383333em;
  height: 3.833333em;
}

nav .cart-black:before {
  background-position: -.8333333333333334em -12.25em;
  width: 1.8333333333333333em;
  height: 1.5833333333333333em;
}

nav ul {
  margin-left: -26px;
  float: left;
}

nav ul li {
  float: left;
  padding: 0 25px;
  margin-bottom: -1px;
}

nav ul li a {
  display: block;
  font-size: 14px;
  height: 37px;
  line-height: 37px;
  box-sizing: border-box;
}

nav ul .nav-img {
  margin-right: 45px;
}

nav ul .nav-img a:hover {
  border-bottom: none;
}

nav .nav-fixed-cart {
  float: right;
  background: #eee;
  height: 48px;
  line-height: 48px;
  padding-left: 13px;
  padding-right: 17px;
}

nav .left-ul .active a,
nav .left-ul a:hover {
  color: #E73736;
  border-bottom: 3px solid #E73736;
}

nav .right-ul {
  float: right;
}

nav .right-ul li {
  padding: 0;
}

nav .right-ul a {
  font-size: 12px;
  color: #999;
  padding-left: 16px;
}

nav .right-ul span {
  margin-right: 4px;
}

nav .right-ul span::before {
  width: 1.6666666666666667em;
  height: 2em;
}

nav .right-ul .zheng:before {
  background-position: -.8333333333333334em -46.25em;
}

nav .right-ul .hang:before {
  background-position: -.8333333333333334em -33.75em;
}

nav .right-ul .kuai:before {
  background-position: -.8333333333333334em -19em;
}

.nav-fixed {
  position: fixed;
  left: 0;
  top: -59px;
  opacity: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 0;
}

.nav-fixed .cart-num-inner {
  vertical-align: middle;
  display: inline-block;
  background: #E73736;
  border-radius: 50%;
  color: #fff;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  position: static;
  margin-left: 12px;
  top: -16px;
  left: 17px;
  font-style: normal;
}

.nav-fixed a {
  height: 48px;
  line-height: 48px;
}

footer .footer-icon {
  font-size: 12px;
}

footer .footer-icon::before {
  content: ' ';
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-size: 13.916666666666666em 42.916666666666664em;
}

footer .icon-earth {
  margin-right: 25px;
}

footer .icon-earth::before {
  background-position: -.69em -9.6968em;
  width: 3.0833333333333335em;
  height: 3em;
}

footer .icon-cart {
  margin-right: 20px;
}

footer .icon-cart::before {
  background-position: -.7em -4.4999em;
  width: 3em;
  height: 3.3333333333333335em;
}

footer .icon-list {
  margin-right: 7px;
}

footer .icon-list::before {
  background-position: -0.67em -14.5em;
  width: 2.25em;
  height: 2.75em;
}

footer .icon-car {
  margin-right: 24px;
}

footer .icon-car::before {
  background-position: -.703em -.0333334em;
  width: 3.3333333333333335em;
  height: 2.5833333333333335em;
}

footer .icon-package {
  margin-right: 18px;
}

footer .icon-package::before {
  background-position: -.6333333333333334em -31.066667em;
  width: 3em;
  height: 2.75em;
}

footer .icon-logo {
  margin-right: 11px;
}

footer .icon-logo::before {
  background-position: -.0333333333333334em -24.25em;
  width: 13.166667em;
  height: 5.75em;
}

footer .icon-sina {
  margin-right: 14px;
}

footer .icon-sina::before {
  background-position: -0.693333em -40.216667em;
  width: 2.6666666666666665em;
  height: 2.6666666666666665em;
}

footer .icon-wechat {
  margin-right: 14px;
}

footer .icon-wechat::before {
  background-position: -.6333333333333334em -35.683333333333336em;
  width: 2.6666666666666665em;
  height: 2.6666666666666665em;
}

footer .footer-top {
  height: 54px;
  line-height: 54px;
  padding: 13px 0;
  background: #3E3A39;
  color: #fff;
  font-size: 14px;
}

footer .footer-top li {
  float: left;
  width: 235px;
  text-align: center;
  border-left: 1px solid #635D5C;
  margin-left: -1px;
}

footer .footer-bottom {
  background: #F1F1F1;
  font-size: 14px;
  padding-bottom: 25px;
}

footer .footer-bottom a {
  font-size: 12px;
  color: #999;
}

footer .footer-bottom img {
  display: none;
  position: absolute;
  top: -119px;
  left: -38px;
}

footer .footer-bottom .warp {
  padding-top: 29px;
  padding-bottom: 30px;
}

footer .footer-bottom .bottom1 {
  margin-right: 88px;
}

footer .footer-bottom .bottom1 a {
  position: relative;
}

footer .footer-bottom .bottom1 span {
  margin-right: 14px;
}

footer .footer-bottom .bottom1 p {
  margin-top: 14px;
  color: #3E3A39;
  font-size: 12px;
}

footer .footer-bottom .bottom1 p img {
  top: -129px;
}

footer .footer-bottom .bottom2 {
  margin-left: -98px;
}

footer .footer-bottom .bottom2 dl {
  float: left;
  margin-left: 98px;
}

footer .footer-bottom .bottom2 dl dt {
  font-size: 14px;
  color: #3E3A39;
  margin-bottom: 22px;
}

footer .footer-bottom .bottom2 dl dd {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}

footer .footer-bottom .bottom3 {
  margin-right: 16px;
  text-align: center;
  position: relative;
}

footer .footer-bottom .bottom3 img {
  display: block;
  margin-top: 10px;
  position: sticky;
}

footer .footer-bottom .certificate,
footer .footer-bottom .copyright {
  text-align: center;
  font-size: 12px;
  color: #999;
}

footer .footer-bottom .certificate img,
footer .footer-bottom .copyright img {
  display: inline-block;
  position: sticky;
}

footer .footer-bottom .certificate {
  margin: 5px;
}

footer .footer-bottom .certificate a {
  margin: 0 5px;
}

body {
  background: white;
}

/*我也不知道干嘛用的*/
.nouse {
  margin: 0 0 10px;
}

/*轮播图*/
#banner-warp {
  margin: 0 auto;
  background-color: #ffffff;
  background-repeat: repeat;
}

#banner-warp .banner {
  position: relative;
  height: 400px;
  margin: 0 auto 30px;
}

#banner-warp .banner-list {
  position: absolute;
  width: 100%;
  height: 400px;
  left: 0;
  top: 0;
}

#banner-warp .banner-list li {
  position: absolute;
  width: 100%;
  opacity: 0;
  z-index: -1;
}

#banner-warp .banner-list li a {
  display: block;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
}

#banner-warp .banner-list li a img {
  height: 100%;
  width: 100%;
}

#banner-warp .banner-list li.active {
  opacity: 1;
  z-index: 0;
}

#banner-warp .banner-btn {
  position: absolute;
  top: 354px;
  width: 100%;
  text-align: center;
}

#banner-warp .banner-btn li {
  display: inline-block;
  margin: 0 4px;
  line-height: 20px;
  text-align: center;
}

#banner-warp .banner-btn a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background: #fff;
}

#banner-warp .banner-btn .active a {
  background: #df3c3a;
  color: #fff;
}

#banner-warp .silde {
  width: 175px;
  box-sizing: border-box;
  height: 400px;
  background: #3e3a39;
  color: #fff;
  position: absolute;
}

#banner-warp .silde a {
  color: #fff;
  font-size: 12px;
}

#banner-warp .silde h2 {
  font-size: 18px;
  font-weight: normal;
  padding: 32px 16px 21px;
}

#banner-warp .silde .slide-icon {
  display: inline-block;
  vertical-align: -1px;
  background: url("../images/erji.png") no-repeat;
  margin-right: 5px;
}

#banner-warp .silde .slide-icon1 {
  width: 16px;
  height: 15px;
}

#banner-warp .silde .slide-icon2 {
  width: 16px;
  height: 10px;
  background-position: 0 -83px;
}

#banner-warp .silde .slide-icon3 {
  width: 16px;
  height: 14px;
  background-position: 0 -161px;
}

#banner-warp .silde .slide-icon4 {
  width: 16px;
  height: 10px;
  background-position: 0 -245px;
}

#banner-warp .silde .silde-warp > li {
  padding: 0 16px;
  font-size: 0;
}

#banner-warp .silde .silde-warp > li a {
  margin-right: 10px;
}

#banner-warp .silde .silde-warp > li .inner {
  padding-bottom: 22px;
  padding-top: 22px;
  border-top: 1px dotted #8a8c8c;
}

#banner-warp .silde .silde-warp > li .inner h3 {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 8px;
}

#banner-warp .silde .silde-warp > li .inner h3 a {
  font-size: 14px;
}

#banner-warp .silde .silde-warp > li .inner .list a {
  color: #fff;
  font-size: 12px;
}

/*下面的模块*/
#mod {
  height: 697px;
  margin-bottom: 30px;
}

#mod h2 {
  font-size: 19px;
  margin-bottom: 15px;
  font-weight: normal;
  color: #3e3a39;
}

#mod h2 .left {
  float: left;
}

#mod h2 .left i {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 11px;
  background: #e73736;
}

#mod h2 .left span {
  font-size: 14px;
  color: #666;
  margin-left: 18px;
}

#mod h2 .right {
  font-size: 14px;
  padding-top: 5px;
}

#mod h2 .right a {
  color: #666;
}

#mod h2 .right span {
  margin: 0 10px;
  color: #ddd;
}

#mod .inner {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}

#mod .inner .shop-list {
  width: 949px;
  background: #fff;
}

#mod .inner .shop-list .main-img {
  position: relative;
  width: 472px;
  overflow: hidden;
  height: 329px;
}

#mod .inner .shop-list .main-img img {
  width: 472px;
  height: 329px;
}

#mod .inner .shop-list .main-list {
  margin-bottom: 20px;
}

#mod .inner .shop-list .main-list ul {
  margin-bottom: 0;
}

#mod .inner .shop-list .main-list ul li {
  float: left;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px #e5e5e5;
  background: #fff;
  position: relative;
  padding: 18px 19px;
  width: 196px;
}

#mod .inner .shop-list .main-list ul li:hover:after {
  content: "";
  border-bottom: 2px solid #e73736;
  position: absolute;
  left: -1px;
  bottom: -1px;
  width: 101%;
  z-index: 1;
}

#mod .inner .shop-list .main-list ul .article-img {
  text-align: center;
  position: relative;
  font-size: 0;
  height: 196px;
  margin-bottom: 17px;
}

#mod .inner .shop-list .main-list ul .article-img a {
  display: inline-block;
  vertical-align: middle;
}

#mod .inner .shop-list .main-list ul .article-img a img {
  max-width: 196px;
  max-height: 196px;
}

#mod .inner .shop-list .main-list ul .article-des {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  height: 42px;
  overflow: hidden;
  font-weight: normal;
}

#mod .inner .shop-list .main-list ul .article-price .price {
  color: #dc3334;
  padding-top: 4px;
}

#mod .inner .shop-list .main-list ul .article-price .price img {
  width: 14px;
  height: 14px;
  vertical-align: 0;
  margin-right: 7px;
}

#mod .inner .shop-list .main-list ul .article-price .price span {
  font-size: 14px;
}

#mod .inner .shop-list .main-list ul .article-price .price b {
  font-size: 17px;
  font-weight: 400;
}

#mod .inner .shop-list .main-list ul .article-price .price s {
  font-size: 12px;
  color: #999;
}

#mod .inner .shop-rank {
  overflow: hidden;
  padding: 28px 20px 0;
  background: #fff;
}

#mod .inner .shop-rank h3 {
  font-size: 16px;
  color: #666;
  font-weight: normal;
  margin-bottom: 27px;
}

#mod .inner .shop-rank li {
  padding: 23px 0;
  border-top: 1px solid #e5e5e5;
  position: relative;
}

#mod .inner .shop-rank .rank-icon {
  width: 44px;
  height: 38px;
  position: absolute;
  left: 0;
  top: 7px;
}

#mod .inner .shop-rank .rank-icon1 {
  background: url("../images/paiming.png") no-repeat;
}

#mod .inner .shop-rank .rank-icon2 {
  background: url("../images/paiming.png") no-repeat;
  background-position: left -120px;
}

#mod .inner .shop-rank .rank-icon3 {
  background: url("../images/paiming.png") no-repeat;
  background-position: left -238px;
}

#mod .inner .shop-rank .rank-img {
  width: 70px;
  text-align: center;
  margin-right: 22px;
}

#mod .inner .shop-rank .rank-img img {
  display: block;
  max-width: 70px;
  height: 70px;
}

#mod .inner .shop-rank .rank-detail {
  overflow: hidden;
}

#mod .inner .shop-rank .rank-detail h4 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 14px;
  font-weight: normal;
}

#mod .inner .shop-rank .rank-detail .nprice {
  font-size: 14px;
  color: #dc3334;
}

#mod .inner .shop-rank .rank-detail .nprice b {
  font-weight: 400;
  font-size: 17px;
}

#mod .inner .shop-rank .rank-detail .oprice {
  font-size: 12px;
  color: #999;
}

#mod .inner .shop-rank .rank-detail s {
  margin-left: 8px;
}

#mod .inner .shop-rank .rank-detail span {
  font-size: 14px;
}
